@import '@/styles/theme.scss';

.ReservationHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.ReservationTitle {
  color: $black;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}