@import '@/styles/theme.scss';

.ContentFieldWrapper {
  border-radius: 2px;
  background-color: $white;

  &.Disabled {
    background-color: $gray100;
    pointer-events: none;
  }

  &.Border {
    border: 1px solid $gray300;
    transition: border 0.3s;

    &:focus-within {
      border: 1px solid $gray500;
    }
  }
}
