@import '@/styles/theme.scss';

.ReservationStatusToggleWrapper {
  color: $white;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
  padding: 8px 16px;
  background-color: $primary;
  border-radius: 30px;
}